h1 {
    font-family: 'Pacifico', cursive;
}

h3 {
    font-family: '', cursive;
}

body{
    background-image: url(https://www.vippng.com/png/full/361-3612977_website-background-png-tech-background-image-for-website.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.btn {
    border-radius: 15px;
}

.jumbotron{
    border-radius: 15px 50px 30px;
}
