    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


    .display-4{
        font-family: 'Amatic SC', cursive;
        font-size: 96px;
    }

    em{
        font-family: 'Open Sans', sans-serif;
        text-indent: 50px !important;
        
    }

    body{
        background-image: url("/images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .btn{
        border-radius: 15px;
        background: transparent;
        font-weight: 500;
        position: relative;
        text-shadow: 0 0 50px #b700ff;
    }


    .jumbotron{
    
        border-radius: 15px 50px 30px;
        background-color: transparent;
        color: #fff;
        text-shadow: 0 0 50px #b700ff;

        
    }   


    .card-header,.card{
        background:transparent;
        font-size: 2rem;
        font-family: 'Amatic SC', cursive;
        text-shadow: 5px 5px 50px #b700ff;
    }


    html {
        scroll-behavior: smooth;
        margin-bottom: 100px;
    }

    .alert,.card,.btn,.jumbotron,table{
        box-shadow: 0 0 15px #ccff33;
        -webkit-box-shadow: 0 0 15px #ccff33;
        -moz-box-shadow: 0 0 15px #ccff33;
    }


    td,
    th {
        padding: 1rem;
    }

    td > a {
        padding: .4rem 1rem;
    }

    .custom--container {
        margin: 0 auto;
        width: min(1000px, 90vw);
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    @media(max-width: 450px) {
        td, th { padding: .4rem; }
    }



    a.hiddenTab {
        visibility:hidden; 
        display:none;
    }

    #news,marquee,.sub-nav{
        background: transparent;
        color:white;
        text-shadow: 0 0 5px #b700ff;; 
    }

    a.btn:focus,a.btn:hover{
        background: #ccff33;  
        border:2px solid white;
        box-shadow: 0 0 50px #88ac1f;
        text-shadow: 0 0 50px #b700ff;
        transform: scale(1.1,1.1);
        color:black !important;
        transition: transform 0.5s ease-out;
    
    }

    .bt:hover{
        background-color: #b700ff;
        box-shadow: 0 0 15px #ccff33;
        transform: scale(1.1,1.1);
        transition: transform 0.5s ease-out;
    }





