@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

h1{
    font-family: 'Sriracha', cursive;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2016/10/29/10/12/purple-1780371_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn,.dropdown-menu{
    border-radius: 15px;
    background: rgb(245,21,202);
    background: linear-gradient(90deg, rgba(245,21,202,1) 0%, rgba(255,250,30,1) 100%);
    font-weight: 500;
}

.jumbotron{
   
    border-radius: 15px 50px 30px;
    background-image: url(https://image.freepik.com/free-photo/abstract-luxury-clear-yellow-wall-well-use-as-backdrop-background-layout_1258-266.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.card-header{
    background-image: linear-gradient(to right,#b700ff ,#ffd902);
    font-size: 2rem;
}


html {
    scroll-behavior: smooth;
    margin-bottom: 100px;
}

.alert,.card,.btn,.jumbotron,table{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.btn-sm{
    background-image: linear-gradient(to right,#d45dca ,#e40f56);
    border-color: black;
}



td,
th {
    padding: 1rem;
}

td > a {
    padding: .4rem 1rem;
}

.custom--container {
    margin: 0 auto;
    width: min(1000px, 90vw);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media(max-width: 450px) {
    td, th { padding: .4rem; }
}



a.hiddenTab {
    visibility:hidden; 
    display:none;
}

#news{
    background-image: url(images/announce-advertisement-poster-background-vector-20585135.jpg);
    background-repeat: no-repeat;
    background-size: 100% 115%;
    background-attachment: auto; 
}

a:focus,a:hover,.dropdown-item:focus,.dropdown-item:hover{
    background-color: rgb(23, 145, 23);
    border-radius: 15px 50px 30px;
    border:2px solid white;
 
}


